<div>
    <h2 id="page-heading">
        <span>Kikker Funtions</span>
        <button *ngIf="isAccessed('FunctionInsert')" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-kikker-funtion" [routerLink]="['/kikker-funtion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Kikker Funtion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="kikker_funtions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Actived</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let kikker_funtion of kikker_funtions ;trackBy: trackId">
                <td><a [routerLink]="['/kikker-funtion', kikker_funtion.id, 'view' ]">{{kikker_funtion.id}}</a></td>
                <td>{{kikker_funtion.name}}</td>
                <td>{{kikker_funtion.activated}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/kikker-funtion', kikker_funtion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button *ngIf="isAccessed('FunctionUpdate')" type="submit"
                                [routerLink]="['/kikker-funtion', kikker_funtion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button *ngIf="isAccessed('FunctionDelete')" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'kikker-funtion/'+ kikker_funtion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
